.root {
  height: 100%;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: keyPress 0.6s infinite;
}

@keyframes keyPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
