.headerSpace {
  top: 80px;
}

.link,
.bodyText,
.heading {
  font-size: 24px;
  font-weight: 600;

  color: white;
  font-family: 'Montserrat' !important;
  line-height: 150% !important;
}

.link,
.bodyText {
  font-weight: 400;
  font-size: 16px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.wheelAnim {
  animation: rotation 20s infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
  }

  .link,
  .bodyText {
    font-size: 13px;
  }
}

@media screen and (max-width: 540px) {
  .heading {
    font-size: 16px;
  }

  .link,
  .bodyText {
    font-size: 12px;
  }
}

